@model EFWP1.Models.Product

@{
    ViewData["Title"] = "Eliminar producto";
}

<h1>Eliminar producto</h1>

<h3>¿Confirma eliminar este producto?</h3>

<div>
    <dl class="row">
        <dt class="col-sm-2">Id</dt>
        <dd class="col-sm-10">@Model.ProductId</dd>

        <dt class="col-sm-2">Nombre</dt>
        <dd class="col-sm-10">@Model.Name</dd>

        <dt class="col-sm-2">Precio</dt>
        <dd class="col-sm-10">@Model.Price.ToString("C")</dd>

        <dt class="col-sm-2">Categoría</dt>
        <dd class="col-sm-10">@Model.Category?.Name</dd>
    </dl>

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="ProductId" />
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a asp-action="Index" asp-controller="Products" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
